<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/dist/css/bootstrap.min.css" th:href="@{bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/dist/css/bootstrap-theme.min.css" th:href="@{/bootstrap/dist/css/bootstrap-theme.min.css}"/>
    <script src="../static/jquery/dist/jquery.js" th:src="@{/jquery/dist/jquery.js}"></script>
    <script src="../static/bootstrap/dist/js/bootstrap.min.js" th:src="@{/jquery/dist/jquery.js}"></script>

    <script src="../static/bootstrap-table/bootstrap-table.js"
            th:src="@{/bootstrap-table/bootstrap-table.js}"></script>
    <script src="../static/bootstrap-table/locale/bootstrap-table-zh-CN.js"
            th:src="@{/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>


    <script src="../static/layer/layer.js"
            th:src="@{/layer/layer.js}"></script>
    <title>购物车</title>
</head>


<body>
请登录
</body>
</html>
