<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>卖家ID</th>
        <th>卖家名称</th>
        <th>商铺名称</th>
        <th>商品名称</th>
        <th>商品信息</th>
        <th>商品价格</th>
        <th>已售出数量</th>
        <th>剩余数量</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${goods.getSellerId()}"></td>
        <td th:text="${seller.getSellerName()}"></td>
        <td th:text="${seller.getStoreName()}"></td>
        <td th:text="${goods.getInfo()}"></td>
        <td th:text="${goods.getPrice()}"></td>
        <td th:text="${goods.getSoldCount()}"></td>
        <td th:text="${goods.getRestCount()}"></td>
        <!--        <td ><form action="/sellerupdategoods" >-->
        <!--            <input th:value="${seller.getId()}" name="sellerid" type="hidden">-->
        <!--            <input th:value="${goods.getId()}" name="goodsid" type="hidden">-->
        <!--            <input type="submit" value="更新">-->
        <!--        </form></td>-->

        <td>
            <button id="btn1">更新</button>
        </td>
        <td>
            <form action="/sellerdeletegoods">
                <input th:value="${goods.getId()}" name="goodsid" type="hidden">
                <input type="submit" value="移除">
            </form>
        </td>


    </tr>
    </tbody>
</table>
</body>

<script>function add_account() {
    var index = layer.open({            //打开layer弹出框
        type: 1,                     //类型
        skin: "layui-layer-rim",     //皮肤类型，在skin文件夹中
        area: ["400px", "400px"],    //范围大小
        title: "更新商品数据",               //定义标题
        content: 'html字符串',       //输出的字符串，定义弹出框的html页面
        btn: ['确定', '取消'],　　　　//按钮
        yes: function (index, layero) { //确定按钮的处理函数
            id_name = $("#id_name").val(); //根据id取数据
            $.ajax({
                url: '{% url "urlname" %}',      //指向URL名称
                type: 'POST',                    //页面传值类型
                data: {"key": 'value'},           //提交数据，以字典的形式
                success: function (e) {          //提交数据成功后的处理函数，e是返回的值
                    if (e == 1) {
                        parent.location.reload(); //刷新父页面
                        layer.msg("good");
                    } else {
                        layer.msg("sorry")
                    }
                },
            });
        },
        btn2: function (index, layero) { //取消按钮后的处理函数
            layer.close(index);
        },
    });
}</script>
</html>