<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>卖家ID</th>
        <th>卖家名称</th>
        <th>商铺名称</th>
        <th>商品名称</th>
        <th>商品信息</th>
        <th>商品价格</th>
        <th>已售出数量</th>
        <th>剩余数量</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${goods.getSellerId()}"></td>
        <td th:text="${seller.getSellerName()}"></td>
        <td th:text="${seller.getStoreName()}"></td>
        <td th:text="${goods.getInfo()}"></td>
        <td th:text="${goods.getPrice()}"></td>
        <td th:text="${goods.getSoldCount()}"></td>
        <td th:text="${goods.getRestCount()}"></td>
        <!--        <td ><form action="/sellerupdategoods" >-->
        <!--            <input th:value="${seller.getId()}" name="sellerid" type="hidden">-->
        <!--            <input th:value="${goods.getId()}" name="goodsid" type="hidden">-->
        <!--            <input type="submit" value="更新">-->
        <!--        </form></td>-->


<!--        暂时未实现-->
<!--        <td>-->
<!--            <button id="btn1">更新</button>-->
<!--        </td>-->
<!--        <td>-->
<!--            <form action="/sellerdeletegoods">-->
<!--                <input th:value="${goods.getId()}" name="goodsid" type="hidden">-->
<!--                <input type="submit" value="移除">-->
<!--            </form>-->
<!--        </td>-->

        <td>
            <form action="/addToSC">
                <input th:value="${goods.getId()}" name="goodsId" type="hidden">
<!--                <input th:value="${seller.getId()}" name="sellerid" type="hidden">-->
<!--                <input th:value="${buyerid}" name="buyerid" type="hidden">-->
                <input type="number" name="sold_count" value="数量">
                <input type="submit" value="增添一个进购物车">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>