<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login">
    用户名：<input type="text" name="account">
    密码：<input type="password" name="pwd">
    <input type="submit" value="登录到详细信息页面">
</form>
<!--<form action="/login">-->
<!--    用户名：<input type="text" name="account">-->
<!--    密码：<input type="password" name="pwd">-->
<!--    <input type="submit" value="登录到购物信息页面">-->
<!--</form>-->
</body>
</html>