<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/sellerinsertgoods">
    <input type="text" name="name" value="name">
    <input type="text" name="info" value="">
    <input type="text" name="price" value="price">
    <input type="text" name="soldcount" value="soldcount">
    <input type="text" name="restcount" value="restcount">
    <input type="submit" value="add">
</form>
</body>
</html>